<!DOCTYPE html>
<html>
    <head>
        <title> Tuning window </title>
        <style>
            .header {
            background-color: rgb(203, 206, 243);
            /* Рсположить элементы по горизонтали */
            display: flex;
            /* Выровнять элементы по оси Y */
            align-items: center;
            /* Выровнять элементы по оси X */
            justify-content: space-between;
            font-size: small;
            font-family: 'Courier New', Courier, monospace;
            }
        </style>
    </head>
    <body>
        <h2>Tuning window!</h2>
        <form action="/tune" enctype="multipart/form-data" method="POST">
            <div class="header">
                <fieldset style="width:600px"><legend>Список текущих моделей</legend>
                    {% for model in models %}
                        <label for="contactChoice">{{ model.name }}</label><br>
                    {% endfor %}
                </fieldset>
                <div>
                <fieldset style="width:600px"><legend>Критерии выбора модели</legend>
                    {% if only_free %}
                        <label>Только бесплатные: <input type="checkbox" name="free" checked></label><br><br>
                    {% else %}
                        <label>Только бесплатные: <input type="checkbox" name="free"></label><br><br>
                    {% endif %}
                    <label>Величина контекста:
                    <input type="text" name="context" value="{{ context }}"> токенов</label><br><br>
                    <label>Дата опубликования:
                    <input type="text" name="days" value="{{ days }}"> дней назад</label><br>
                </fieldset>
                </div>
            </div>
            <input type="submit" value="Найти" name="lst">
            <input type="submit" value="Применить" name="apply">
            <input type="submit" value="Выход" name="exit"><br>
            <div class="header">
                <textarea name="answer" style="width: 920px; height: 500px;">{{ answer }}</textarea><br>
                <div>
                    <label>Сохранить в current_chat.json: <input type="checkbox" name="{{ save }}" checked></label><br><br>
                    <label>Сохранять контекст диалога: <input type="checkbox" name="{{ context }}" checked></label><br>
                </div>
            </div>
        </form>
    </body>
</html>